FASTAPI_ENV=development
API_HOST=0.0.0.0
API_PORT=8000
FRONTEND_ORIGIN=http://localhost:3000

FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_SERVICE_ACCOUNT_JSON=./firebase-admin-key.json
FIRESTORE_DATABASE_ID=efa-users

GOOGLE_CLOUD_PROJECT=
GOOGLE_APPLICATION_CREDENTIALS=./gcp-key.json
BIGQUERY_DATASET=efa_main_main
BIGQUERY_LOCATION=US

GOOGLE_GENAI_API_KEY=
GOOGLE_GENAI_MODEL=gemini-flash-latest
